<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Weather Monitoring</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Weather Monitoring Dashboard</h1>
        <div id="timer">Next refresh in:<span id="time-remaining">5 :00</span></div>
        <button id="refresh-button">Refresh Data</button>
        <button id="daily-summary-button">Fetch Daily Summary</button>

        <!-- Alerts Section - New Addition -->
        <div id="alerts">
          {% for alert in alerts %}
          <div class="alert">{{ alert }}</div>
          {% endfor %}
      </div>

      <div id="weather-summary" class="weather-summary">
          {% for city,data in weather_data.items() %}
          <div class="city-summary">
              <h3>{{ city }}</h3>
              <i class="fas {{ data.main_icon }}"></i> <!-- Use FontAwesome icon -->
              <p>Main Condition : {{ data.main }}</p>
              <p>Current Temperature : {{ data.temp | round(2) }} °C</p>
              <p>Feels Like : {{ data.feels_like | round(2) }} °C</p>
              <p>Humidity : {{ data.humidity }}%</p>
              <p>Wind Speed : {{ data.wind_speed }} m/s</p>
              <p>Pressure : {{ data.pressure }} hPa</p>
              <p>Visibility : {{ data.visibility | round(2) }} km</p>
              <p>Last Updated : {{ data.dt | to_datetime }}</p>
          </div>
          {% endfor %}
      </div>

      <!-- Daily Weather Summary Section -->
      <div class="daily-summary">
          <h2>Daily Weather Summary</h2>
          <table class="daily-summary-table">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Average Temp (°C)</th>
                      <th>Max Temp (°C)</th>
                      <th>Min Temp (°C)</th>
                      <th>Dominant Condition</th>
                  </tr>
              </thead>
              <tbody id="daily-summary-body">
                  <!-- Daily summaries will be inserted here -->
              </tbody>
          </table>
      </div>

      <!-- Graph Section -->
      <div id="graph-section">
          <h2>Temperature Trends</h2>
          <canvas id="weatherChart"></canvas>
      </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
